body{
    background-color:#1e1e1e;
    color:#ffffff;
    font-family:'Open Sans', sans-serif;
}

header{
    height:96px;
    padding:0px 16px;
}

p{
    margin-bottom:0px;
}

h3{
    font-weight: bold;
}

ul{
    margin-bottom:0;
    padding-left:20px;
}

a{
    color: #ffffff;
}

a:hover{
    color: #e0e0e0;
}

.bar{
    background-color: #303030;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 10px 0px;
}

.btn{
    border:0;
    border-radius:.25rem;
    padding:10px 20px;
    margin:5px 5px;
}

.btnimg{
    padding-right:10px;
}

.btn-primary{
    color:#ffffff;
    background-color:#f2bf30 !important;
}

.btn-secondary{
    color:#ffffff;
    background-color:#3a3a3a !important;
}

.c-tier{
    color:#fee101;
}

.carcont{
    color:#c0c0c0;
    font-size:x-large;
}

.clickable{
    cursor:pointer;
}

.carousel{
    border-radius: .25rem;
    margin:10px 0px;
    overflow: hidden;
}

.footer{
    background-color:#303030;
    margin-top:20px;
    padding:10px 0px;
}

.footercol{
    margin:5px 0px;
}

.headerlogo{
    width:64px;
    height:64px;
    padding:0px;
    margin:16px 0px;
}

.headertext{
    width:206px;
    height:64px;
    padding:0px;
    margin:16px 0px;
}

.img{
    border-radius: .25rem;
}

.link, .link:hover{
    color:#ffffff;
    text-decoration:underline;
}

.linkimg, .linkimg:hover{
    text-decoration:none;
}

.modal-content{
    background-color: transparent !important;
    border: 0;
}

.nav-pills .nav-link.active{
    background-color: #f2bf30 !important;
}

.panel{
    background-color:#272727;
    margin:10px 0px;
    padding:20px;
    border-radius: 0.25rem;
}

.shadow{
    box-shadow:0px 2px 10px rgba(0,0,0,0.25);
}

.title{
    margin-top:360px;
}

.titletext{
    margin-bottom:0px;
}

.top{
    background-position:center;
    background-size:cover;
    padding:0px;
}

.sticky {
    position:fixed;
    top:0px;
    z-index:100;
}

body::-webkit-scrollbar {
    background-color:#101010;
    width:8px;
}

body::-webkit-scrollbar-thumb {
    background-color:#404040;
}

body::-webkit-scrollbar-button {display:none}